
/*////////////////// ESTRUCTURA ////////////////*/

body {
    color: #768082;
    background-color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
h1, .h1 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
}

a, .text-primary {
    color: #d3460e;
}

a:hover {
    color: #d3460e;
}

.label-primary {
    background: #d3460e;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    background: #d3460e;
    border-color: #ddd;
}
  @media print {
      a[href]:after {
        content: "" !important;
      }
    }
footer {
    margin-top: 100px;
    /* background-color: #f2f2f2; */
    min-height: 100px;
    padding-top: 20px;
    text-align: center;
    /* line-height: 100px; */
    border-top: 1px solid #e2e2e2;
    font-size: 12px;
}
.logotip-inici {
    background-image: url("../../images/codol-gestio-imagotip.png");
    background-size: 69px 65px;
    width: 69px;
    height: 65px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -10px;
}
.jumbotron h2 {
    color: #777;
    font-size: 25px;
}
.full-width {
    background-color: #333 !important;
}

/*////////////////// MENU SUPERIOR ////////////////*/
.navbar-default {
    min-height: 80px;
    background-color: #fff;
    border-top: 40px solid #d3460e;
}
.navbar-default .container {
    margin-top: 10px;
    margin-bottom: 20px;
}
.navbar-nav {
    margin-top: 5px;
}
.navbar-right {
    float: right!important;
    margin-right: 0;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #768082;
    background-color: #f2f2f2
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #d3460e;
    background: #FFFFFF;
   /* background-color: #f2f2f2;
    border-radius: 3px;*/
}
.dropdown-menu {
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 1px 3px rgba(0,0,0,.08);
}
.dropdown-menu>li>a {
    color: #768082;
}
.notification {
    position: absolute;
    right: 10px;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    background: #eee;
    z-index: 1;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px !important;
}

/*////////////////// DASHBOARD ////////////////*/
.home-content .col-md-4 a {
    text-decoration: none;
}
.home {
    background: #f2f2f2;
    border-radius: 10px;
    text-align: center;
    margin-top:20px;
    padding:    20px;
    min-height: 200px;
    padding-top: 60px;
    transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.home:hover {
    background: #e2e2e2;
    color: #444;
    cursor:pointer;
}
.home > h1 {
    font-size: 18px;
    font-family: 'PT Serif', serif !important;
    color: #d3460e;
    margin-top: 15px;
}
.home > span {
    font-size: 50px;
    color: #d3460e;
}
/* */
.btn-primary {
    color: #fff;
    background-color: #d3460e;
    border:none;
    font-size: 14px;
    border-radius: 3px;
    transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.btn-primary:hover {
    background-color: #333;
}

/*//////////////////  LLISTAT IMMOBLES ////////////////*/
.grid-pisos .media {
    border: 1px solid #eee;
    border-radius: 5px;
    margin-bottom: 30px;
}

.grid-pisos .media:hover {
    border: 1px solid #aaa;
    transition-duration: 0.5s;
}
.grid-pisos.no-meva {
    opacity: 0.6;
}
.grid-pisos img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px;
}
.grid-pisos .media-body {
    padding: 10px;
}
.grid-pisos .media-bottom {
    border-top: 1px solid #eee;
}
.media-bottom .glyphicon {
    padding: 5px;
}

/*////////////////// CLIENTS ////////////////*/
#clients_length .form-control {
    margin-right: 10px;
    margin-left: 10px;
}
#clients_filter .form-control {
    margin-left: 10px;
}
div.dataTables_length label, div.dataTables_filter label {
    font-size: 13px;
}
table.dataTable {
    margin-top: 20px !important;
    border-top: 1px solid #e2e2e2;
}

/*////////////////// FORM FIELDS ////////////////*/
.selects li {
    min-height: 50px;
}
.edit-list-group .form-control {
    height: inherit;
}
.btn-default {
    border-color: #e2e2e2;
}
.form-control {
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    box-shadow: none;
}
.destacada img {
    border-color: #444;
    background: #444;
}
.bookmark-destacada {
    position: absolute;
    right: 30px;
    top: 5px;
    font-size: 26px;
}
.eliminar-imatge {
    position: absolute;
    right: 30px;
    bottom: 10px;
    top: inherit;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

.visibilitat-imatge {
    position: absolute;
    left: 30px;
    bottom: 10px;
    top:inherit;
    color: green;
    font-size: 20px;
    cursor: pointer;
    display: block !important;
}
.imatges-per-triar img:hover {
    border-color: #444;
    background: #444;
}
.imatges-per-triar span {
    display: none;
}
.imatge-triar:hover .eliminar-imatge {
    display: block;
}
.destacada span {
    display: block;
}

.remove-file, .remove-file-client {
    color: red;
    cursor:pointer;
    display: none;
}

.panel-heading:hover .remove-file, .panel-heading:hover .remove-file-client {
    display:block;
    float: right;
}

.float-label-control { position: relative; }
.float-label-control ::-webkit-input-placeholder { color: transparent; }
.float-label-control :-moz-placeholder { color: transparent; }
.float-label-control ::-moz-placeholder { color: transparent; }
.float-label-control :-ms-input-placeholder { color: transparent; }
.float-label-control input:-webkit-autofill,
.float-label-control textarea:-webkit-autofill { background-color: transparent !important; -webkit-box-shadow: 0 0 0 1000px white inset !important; -moz-box-shadow: 0 0 0 1000px white inset !important; box-shadow: 0 0 0 1000px white inset !important; }
.float-label-control input, .float-label-control textarea, .float-label-control label { box-shadow: none; -webkit-box-shadow: none; }
.float-label-control input:focus,
.float-label-control textarea:focus { box-shadow: none; -webkit-box-shadow: none; border-bottom-width: 2px; padding-bottom: 0; }
.float-label-control textarea:focus { padding-bottom: 4px; }
.float-label-control input, .float-label-control textarea { display: block; width: 100%; padding: 0.1em 0em 1px 0em; border: none; border-radius: 0px; border-bottom: 1px solid #aaa; outline: none; margin: 0px; background: none; }
.float-label-control textarea { padding: 0.1em 0em 5px 0em; }
.float-label-control label { position: absolute; font-weight: normal; top: -1.0em; left: 0.08em; color: #aaaaaa; z-index: -1; font-size: 0.85em; -moz-animation: float-labels 300ms none ease-out; -webkit-animation: float-labels 300ms none ease-out; -o-animation: float-labels 300ms none ease-out; -ms-animation: float-labels 300ms none ease-out; -khtml-animation: float-labels 300ms none ease-out; animation: float-labels 300ms none ease-out; /* There is a bug sometimes pausing the animation. This avoids that.*/ animation-play-state: running !important; -webkit-animation-play-state: running !important; }
.float-label-control input.empty + label,
.float-label-control textarea.empty + label { top: 0.1em; font-size: 12px; animation: none; -webkit-animation: none; }
.float-label-control input:not(.empty) + label,
.float-label-control textarea:not(.empty) + label { z-index: 1; }
.float-label-control input:not(.empty):focus + label,
.float-label-control textarea:not(.empty):focus + label { color: #aaaaaa; }
.float-label-control.label-bottom label { -moz-animation: float-labels-bottom 300ms none ease-out; -webkit-animation: float-labels-bottom 300ms none ease-out; -o-animation: float-labels-bottom 300ms none ease-out; -ms-animation: float-labels-bottom 300ms none ease-out; -khtml-animation: float-labels-bottom 300ms none ease-out; animation: float-labels-bottom 300ms none ease-out; }
.float-label-control.label-bottom input:not(.empty) + label,
.float-label-control.label-bottom textarea:not(.empty) + label { top: 3em; }


@keyframes float-labels {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
    20% { font-size: 1.5em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 0.85em; }
    100% { top: -1em; opacity: 1; }
}

@-webkit-keyframes float-labels {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
    20% { font-size: 1.5em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 0.85em; }
    100% { top: -1em; opacity: 1; }
}

@keyframes float-labels-bottom {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
    20% { font-size: 1.5em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 0.85em; }
    100% { top: 3em; opacity: 1; }
}

@-webkit-keyframes float-labels-bottom {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 1.5em; }
    20% { font-size: 1.5em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 0.85em; }
    100% { top: 3em; opacity: 1; }
}

.page-header {
    margin-bottom: 40px;
}

.datepicker{z-index:1151 !important;}

.edit-immoble-span {
    cursor: pointer;
}

.rating-input i {
    font-size: 20px;
}

.bootstrap-select {
    width: 100% !important;
}

.panel-group .panel {
    border-radius: 3px;
}

.panel-default>.panel-heading {
    background: #f2f2f2;
}

.dropzone .dz-default.dz-message {
    background: none !important;
}

.dropzone .dz-default.dz-message span {
    display: block !important;
    font-size: 24px;
    text-align: center;
}





.table tbody tr:first-child td {
    border-top:0;
}

.form-group {
    margin-bottom: 25px;
}

.form-control:focus {
    border-color: #d3460e;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #777;
    border-color: #777;
}

.selectpicker li {
    min-height: 30px;
}

.table.dataTable tbody tr.active td, .table.dataTable tbody tr.active th {
    background-color: #eee !important;
    color: inherit !important;
}

#immobles.table.dataTable tbody tr.active:hover td, .table.dataTable tbody tr.active:hover th {
     background-color: #ddd !important;
     color: inherit !important;
 }

#immobles.table.dataTable tbody tr:hover td, .table.dataTable tbody tr:hover th {
    background-color: #ddd !important;
    color: inherit !important;
}

#immobles.table .glyphicon{
    color: rgb(211, 70, 14);
}

#export .glyphicon {
    cursor: pointer;
}

.icon-portal, .icon-reclam, .icon-portal-habitaclia {
    background: #768082;
    color: #fff;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 10px;
    cursor: pointer;
}

.icon-portal.text-primary, .icon-reclam.text-primary, .icon-portal-habitaclia.text-primary  {
    background: rgb(211, 70, 14);
}

.media-heading {
    height: 30px;
}


/*** TVS ***/
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.content {
/*    position: absolute;
    bottom: 0px;
    top: 0px
    left: 0px;
    right: 0px;*/
}

.royalSlider, #full-width-slider {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.royalSlider {
position: absolute;
left: 0;
top: 0;
bottom: 0;
right: 0;
height: auto;
width: auto;
}

#full-width-slider {
  width: 100%;
  height: 100%;
  color: #000;
}
.infoBlock {
  position: relative;
  top: 30px;
  right: 30px;
  bottom: 0px;
  left: auto;
  max-width: 40%;
  width: 37% !important;
  padding-bottom: 0;
  overflow: hidden;
  padding: 30px;
}
.infoBlockRight {
  color: #FFF;
  background: #ce4616;
  background: repeating-linear-gradient( -45deg, #c10a26, #c10a26 5px, #ce4616 5px, #ce4616 70px );
  right: -37%;
  left: inherit !important;
}
.infoBlock h4 {
  font-family: helvetica, arial, sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.0;
  margin: 0;
  padding-bottom: 3px;
}
.infoBlock p {
   font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 300;
  /* margin: 4px 0 0; */
  margin-bottom: 25px;
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}
.infoBlock p strong {
    font-weight: 600;
}
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}
.financament {
    font-size: 13px;
    float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    line-height: 15px;
    background-color: #000;
    border-radius: 120px;
}
.obra-nova {
    font-size: 13px;
   float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    line-height: 15px;
    background-color: #FFF;
    border-radius: 120px;
    color: #cf4616;
    margin-left: 20px;
    font-weight: 600;
}
.star {
   float: left;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    line-height: 15px;
    background-color: #FFF;
    border-radius: 120px;
    color: #cf4616;
    margin-left: 20px;
    font-weight: 600;
}
.entypo-star {
      font-size: 45px;
        line-height: 29px;
}
.vitola {
    color: #FFF;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #cf4616;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
}
.vitola span {
    display: inline;
    padding-right: 10px;
}
.vitola span:last-child {
  border-left: 3px solid #FFF;
    padding-left: 10px;
}
.preu-content {
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin: 0 32px;
    left: 0;
    right: 0;
}
.preu {
  font-size: 45px;
  font-weight: 900;
  background-color: #FFF;
  color: #ce4616;
}
.preu span {
  display: block;
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  font-size: 15px;
  padding: 5px 10px;
  text-transform: uppercase;
}

.web {
      margin-top: 10px;
}
.fullWidth {
 /* max-width: 1400px;
  margin: 0 auto 24px;*/
}

@media screen and (min-width:960px) and (min-height:660px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
     /* height: 520px !important;*/
  }
}

@media screen and (min-width:960px) and (min-height:1000px) {
    .heroSlider .rsOverflow,
    .royalSlider.heroSlider {
        /*height: 660px !important;*/
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
   /* height: 300px !important;*/
  }
  .infoBlock {
    padding: 10px;
    height: auto;
    max-height: 100%;
    min-width: 40%;
    left: 5px;
    top: 5px;
    right: auto;
    font-size: 12px;
  }
  .infoBlock h3 {
     font-size: 14px;
     line-height: 17px;
  }
}

#export_length {
  display: none;
}
